<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>565402745618-aai7jbplg59v188a5q54dchm35rnln1f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.565402745618-aai7jbplg59v188a5q54dchm35rnln1f</string>
	<key>API_KEY</key>
	<string>AIzaSyBduNtxA5yYgkMHSITfINVzoKCGdftVuUg</string>
	<key>GCM_SENDER_ID</key>
	<string>565402745618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kay.WorkingCafe</string>
	<key>PROJECT_ID</key>
	<string>workingcafe-13a5f</string>
	<key>STORAGE_BUCKET</key>
	<string>workingcafe-13a5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:565402745618:ios:8195cfa98459297e2551cb</string>
	<key>DATABASE_URL</key>
	<string>https://workingcafe-13a5f.firebaseio.com</string>
</dict>
</plist>